/*seksi room*/
*{
    margin: 0;
    padding: 0;
}

.box-room{
    margin: auto;
    margin-top: 100px;
    border: transparent;
    background-color: rgb(2, 5, 55);
    box-shadow: 0px 3px 10px 2px #00c0F9;
    width: 400px;
    height: 500px;
    overflow: auto;
}

.section-header{
    background-color: yellowgreen;
}

.Btn-Info-Poti{
 display:grid;
 place-items: end;
}

.ul-header{
    display: none;
    background-color: rgb(3, 101, 31);
    -webkit-text-fill-color: white;
   width: 400px;
   
}

.li-header{
    list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Btn-Header{
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    -webkit-text-fill-color: white;
}

a:link{
    text-decoration: none;
}

a:visited{
  -webkit-text-fill-color: white;
}

.Profile{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px transparent;
    background-color: white;
    box-shadow: 0px 3px 10px 2px #7800f9;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-pro{
    margin-top: 10px;
    margin-left: 10px;
    -webkit-text-fill-color: white;
    height: 150px;
}

footer{
    margin-top: 150px;
    background-color: blue;
    height: 30px;
    text-align: center;
    -webkit-text-fill-color: white;
    font-family: consolas;
    
}

@media(max-width:431px){
    .box-room{
      box-shadow: none;
    }
    body{
        background-image: url("alatTulis.jpg");
      }
   
  }
